<html>
    <head>
        <title>Post</title>
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    </head>
    <body>
        <%- include('partials/header') %>

        <!-- The title must be inside the <h1> tag and the content inside the <p> tag -->
        
        <h1> <%= result.title %></h1>
        <p> <%= result.content %></p>
        
        <div class="time">
            <p>Created at: <%= result.createdAt %> </p>
            <p>Updated at: <%= result.updatedAt %> </p>
        </div>

        <a class="btn btn-sm btn-primary" href="\compose/<%= result._id %>">Edit</a>
        <a class="btn btn-sm btn-danger" href="\post/delete/<%= result._id %>">Delete</a>

        <%- include('partials/footer') %>
    </body>